<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contactus_listing_data_source" xsi:type="string">Espl\AdminGrid\Model\ResourceModel\ContactUs\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Espl\AdminGrid\Model\ResourceModel\ContactUs\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">contactus</argument>
            <argument name="resourceModel" xsi:type="string">Espl\AdminGrid\Model\ResourceModel\ContactUs</argument>
        </arguments>
    </virtualType>
</config>